<footer class="page-footer deep-purple darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Go Drive</h5>
                <p class="grey-text text-lighten-4">All Companies - One Web Application</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        @Html.ActionLink("Organizations", "Index", "Organizations", null, new { @class = "grey-text text-lighten-3" })
                    </li>
                    <li>
                        @Html.ActionLink("Create Organization", "Index", "ApplyForOrganization", null, new { @class = "grey-text text-lighten-3" })
                    </li>
                    <li>
                        @Html.ActionLink("About Us", "About", "Home", null, new { @class = "grey-text text-lighten-3" })
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "grey-text text-lighten-3" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
    </div>