<h2 class="white-text">Administration Panel</h2>

<div class="row">
    <div class="col s12 m6">
        <div class="card deep-purple darken-4">
            <div class="card-content white-text">
                <span class="card-title">Create Organization</span>
                <p>
                    Create an Organization for User Request.
                </p>
            </div>
            <div class="card-action">
                <a href="#">Create Organization</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card deep-purple darken-4">
            <div class="card-content white-text">
                <span class="card-title">Manage User Accounts</span>
                <p>
                    Edit, Delete, Ban Users
                </p>
            </div>
            <div class="card-action">
                <a href="#">Manage User Accounts</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card deep-purple darken-4">
            <div class="card-content white-text">
                <span class="card-title">Manage Organizations</span>
                <p>
                    Edit, Delete Organizations
                </p>
            </div>
            <div class="card-action">
                <a href="#">Manage Organizations</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card deep-purple darken-4">
            <div class="card-content white-text">
                <span class="card-title">Incoming Organizations Requests</span>
                <p>
                    Manage Organizations Requests
                </p>
            </div>
            <div class="card-action">
                <a href="#">Manage Organizations Requests</a>
            </div>
        </div>
    </div>
</div>
