
<div class="row">

    <h2 class="center white-text">Your Application Has been Successfully sent.</h2>
</div>

<div class="row center">
    @Html.ActionLink("Go Home", "Index", "Home", null, new { @class = "waves-effect waves-light btn deep-purple darken-4" })
</div>