@model GoDrive.Web.ViewModels.ApplyForOrganization.CreateOrganizationRequestViewModel

<h2 class="white-text">Create Your Own Organization</h2>

<div id="register-wrapper" class="row">

    @using (Html.BeginForm("Apply", "ApplyForOrganization", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "red-text" })

        @Html.EditorFor(x => Model)
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}