<table class="centered">
    <thead>
        <tr class="white-text">
            <th data-field="id">First Name</th>
            <th data-field="name">Last Name</th>
            <th data-field="price">Age</th>
            <th data-field="price">Phone</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>$0.87</td>
            <td>
                @Html.ActionLink("Schedular", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "aves-effect waves-light btn deep-purple darken-4" })
            </td>
        </tr>
    </tbody>
</table>
