body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #4DA9EF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#nav-wrapper {
    padding: 20px 0;
}

#login-wrapper .input-field label, #register-wrapper .input-field label {
    color: white;
}

#login-wrapper .input-field input[type=text], #register-wrapper .input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#login-wrapper .input-field input[type=password], #register-wrapper .input-field input[type=password] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#login-wrapper .input-field textarea, #register-wrapper .input-field textarea {
    border: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#login-wrapper .input-field .prefix.active, #register-wrapper .input-field .prefix.active {
    color: #000;
}

/*#login-wrapper .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/

#change-password-wrapper .input-field .prefix.active {
    color: #000;
}

#change-password-wrapper .input-field input[type=password] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#change-password-wrapper .input-field label {
    color: white;
}

#create-organization-wrapper .input-field label {
    color: white;
}

#create-organization-wrapper .input-field .prefix.active {
    color: #000;
}

#create-organization-wrapper .input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

/*#all-organizations-wrapper img {
    width : 275px;
    height: 275px;
}*/

.side-nav.white-text {
    background-color: #4DA9EF;
}

.card-image img {
    width: 275px;
    height: 160px;
}

.car-images .col {
    margin-bottom: 1%;
}