body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    /*background-color: #4DA9EF;*/

background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 24%, #2989d8 32%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#nav-wrapper {
    padding: 20px 0;
}

#login-wrapper .input-field label, #register-wrapper .input-field label {
    color: white;
}

#login-wrapper .input-field input[type=text], #register-wrapper .input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#login-wrapper .input-field input[type=password], #register-wrapper .input-field input[type=password] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#login-wrapper .input-field .prefix.active, #register-wrapper .input-field .prefix.active {
    color: #000;
}

/*#login-wrapper .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/

#change-password-wrapper .input-field .prefix.active {
    color: #000;
}

#change-password-wrapper .input-field input[type=password]  {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

#change-password-wrapper .input-field label  {
    color: white;
}

#create-organization-wrapper .input-field label {
    color: white;
}

#create-organization-wrapper .input-field .prefix.active {
    color: #000;
}

#create-organization-wrapper .input-field input[type=text] {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

/*#all-organizations-wrapper img {
    width : 275px;
    height: 275px;
}*/

.side-nav.white-text {
    background-color: #4DA9EF;
}

.card-image img {
    width: 275px;
    height: 160px;
}