
<div class="row white-text center">
    <h2>GoDrive - The Purpose</h2>
</div>

<div class="row white-text center">
    <p>
        This simple Web Application is all about learning the concepts of Web Development
        and explore the features of Asp.Net MVC.
    </p>
</div>