
<div class="row center white-text">
    <h4>For any Questions or Troubles please Contact the admin at <strong class="black-text">admin[at]admin.com</strong></h4>
    <h4>Or Directly on <i class="black-text">1-866-303-6061</i></h4>
</div>