@model GoDrive.Web.ViewModels.Home.IndexViewModel

<h1 class="white-text">Get Your Driver License Now</h1>
<h3 class="deep-purple-text text-darken-4">Top Companies:</h3>

<div class="row">
    @foreach (var organization in Model.Organizations)
    {
        @Html.DisplayFor(x => organization)
    }

</div>

<div class="row center">
    <h2 class="create-organization-link">
        @Html.ActionLink("Apply For Your Own Organization Now", "Index", "ApplyForOrganization", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage", @class = "deep-purple-text text-darken-4" })
    </h2>
</div>