@model GoDrive.Web.ViewModels.Home.IndexViewModel

<h1 class="white-text">Get Your Driver License Now</h1>
<h3 class="deep-purple-text text-darken-4">Top Companies:</h3>

<div class="row">
    @foreach (var organization in Model.Organizations)
    {
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="@organization.OrganizationImageUrl">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">@organization.Name<i class="material-icons right">more_vert</i></span>
                    <p><a class="waves-effect waves-light btn" href="/Organizations/Details/@organization.Id">Details</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">@organization.Name<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    }

</div>

<div class="row center">
    <h2 class="create-organization-link">
        @Html.ActionLink("Apply For Your Own Organization Now", "Index", "ApplyForOrganization", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage", @class = "deep-purple-text text-darken-4" })
    </h2>
</div>