@model IEnumerable<GoDrive.Web.Areas.MyOrganization.ViewModels.UserRequestViewModel>

<table class="centered">
    <thead>
        <tr class="white-text">
            <th data-field="price">Username</th>
            <th data-field="id">First Name</th>
            <th data-field="name">Last Name</th>
            <th data-field="price">Age</th>
            <th data-field="price">Additional Information</th>
            <th data-field="price">Created On</th>
            <th data-field="price">IsProceed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var request in Model)
        {
            @Html.DisplayFor(x => request)
        }

    </tbody>
</table>
