@model GoDrive.Web.ViewModels.JoinedOrganization.MyProgressViewModel

<div class="col s6">
    <div id="progress-container"></div>
</div>

<div class="col s6">
    <strong>Drived Hours:</strong>
    <i>@Model.DrivedHours</i>
</div>

<div class="col s6">
    <strong>Hours Left:</strong>
    <i>@Model.HoursLeft</i>
</div>