@model GoDrive.Web.Areas.MyOrganization.ViewModels.OrganizationInformationViewModel
<h2>Manage Organization Information</h2>

<div id="register-wrapper" class="row">

    @using (Html.BeginForm("UpdateOrganization", "ManageInformation", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "red-text" })

        @Html.EditorFor(x => Model)
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}