@model IEnumerable<GoDrive.Web.Areas.MyOrganization.ViewModels.CarImageViewModel>

<h2 class="white-text">Manage Car Images</h2>

<div class="row">

    @if (this.TempData["error"] != null)
    {
        <div class="red-text">Invalid Image Type</div>
    }

    @using (Html.BeginForm("UploadCarImage", "ManageCarImages", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "red-text" })

        <div class="file-field input-field">
            <div class="btn  deep-purple darken-4">
                <span>Browse Image</span>
                <input type="file" name="file">
            </div>
            <div class="file-path-wrapper">
                <input type="text" class="file-path validate" placeholder="Change The Organization Image">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn waves-effect waves-light deep-purple darken-4" type="submit" name="action">
                    Upload
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }

</div>
<div class="row car-images">

    @foreach (var carImage in Model)
    {
        @Html.DisplayFor(x => carImage)
    }

</div>